@import "tailwindcss";

@layer base {
  :root {
    --bg-body: #F9FAFB;
    --bg-card: #FFFFFF;
    --text-main: #111827;
    --text-secondary: #6B7280;
    --border: #E5E7EB;
    --primary: #4F46E5;
  }

  [data-theme="dark"] {
    --bg-body: #0F172A;
    --bg-card: #1E293B;
    --text-main: #F3F4F6;
    --text-secondary: #94A3B8;
    --border: #334155;
    --primary: #6366F1;
  }

  body {
    @apply font-sans antialiased transition-colors duration-300;
    background-color: var(--bg-body);
    color: var(--text-main);
  }
}