name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]  # Or 'master' if your branch is named master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          # REPLACE 'kaleem' WITH YOUR HF USERNAME
          # REPLACE 'video-summarizer-backend' WITH YOUR SPACE NAME
          HF_USERNAME: malikKaleem 
          SPACE_NAME: VideoSummarizer
        run: |
          git config --global user.email "mrkaleem237@gmail.com"
          git config --global user.name "Kaleem Malik"
          git remote add space https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$SPACE_NAME
          git push --force space main
